.navbar {
  list-style-type: none;
}

#deleteEventBtn {
  background-color: red;
}

.uimg{
	height:350px;
	width:350px;
	padding-bottom:20px;
	padding-right: 40px;
	float: left;
}

.uinfo{
	float: left;
}




